@tailwind base;
@tailwind components;
@tailwind utilities;


:root { --panel: #ffffff; }
html.dark { --panel: #0b1220; }

@keyframes slideInFromLeft {
  from { opacity: 0; transform: translateX(-18px); }
  to   { opacity: 1; transform: translateX(0); }
}